################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpInterfacesTack/CSharpInterfacesTack/obj
/CSharpInterfacesTack/CSharpInterfacesTack/bin/Debug/netcoreapp3.1
/CSharpInterfacesTack/.vs/CSharpInterfacesTack/v16
/.vs
